{% block schema %}
<form{{ h.attrs( hints.form_attrs) }} class="{% block schema_form_class %}{% endblock %}"{% block schema_form_attrs %}{% endblock %}>
  {% block schema_form_header %}{% endblock %}
  {%- set path = "" -%}
  {%- parent -%}
  {%- block schema_form_actions %}
    {%- block schema_form_submit %}  <input type="submit" value="Submit" class="{% block schema_form_submit_class %}{% endblock %}"{% block schema_form_submit_attrs %}{% endblock %}>{% endblock %}
    {%- block schema_form_reset %}{% endblock %}
  {%- endblock -%}
  {% block schema_form_footer %}{% endblock %}
</form>
{% endblock %}
